#contato{
	background-color:#BEBEBE;
	min-height:600px;
}
#contato-2{
	display: flex;
	margin-top: 100px;
	display: inline-flex;
	margin-top: 120px;
	width: 100%;
}

#informacoes{
	width: 50%;
}
#cont{/*Acrescentado*/
	font-size:24px;
	font-weight:bold;
}

#dados{
	width: 250px;
	margin-left: 230px;
	margin-top: 60px;
}

.col-lg-12{
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
}
#formulario{
	background:rgba(0,0,0,0.4);
	width:450px;
	padding:25px 20px 5px 25px;
	box-sizing:border-box;
	border-radius:5px;
	float: right;
	margin-right: 10%;
}
input, select{
	width:100%;
	height:30px;


}
textarea#mensagem{ /*Consertar responsividade*/
	height:100px;
	max-width: 405px;
	min-width: 405px;
}

#enviar{
	color:#000000;
	font-weight:bold;
	background-color: #9AC0CD;
	border-radius: 2px;
	border: 0;
	height: 40px;
}

#enviar:hover{
	cursor:pointer;
	
}

@media all and (max-width: 1141px){
	#dados{
		display: block;
		position: relative;
		float: none;
		margin: 0 auto;
	}

	#dados > p{
		text-align: center;
	}

	#formulario{
		display: block;
		position: relative;
		float: none;
		margin: 0 auto;
	}
}

@media(max-width:750px){
	#formulario{
		width:350px;
	}
	textarea#mensagem{ 
		height:100px;
		max-width: 350px;
		min-width: 305px;
	}
	#contato-2{
		margin-top: 40px;
	}
	
	
}
@media(max-width:500px){

	#formulario{
		width:360px;
	}
	textarea#mensagem{ 
		height:100px;
		max-width: 315px;
		min-width: 150px;
	}
	
	input, textarea, select{
		width:100%;
		height:20px;

	}
	textarea{
		height:70px;
	}
	.conteudo{
		width:100%;
	}
	#logocontato{ /*Acrescentado*/
			width:220px;
			height:54px;
	}
	#informacoes{/*Acrescentado*/
		width:355px;
		font-size:14px;
	}
	#cont{/*Acrescentado*/
		font-size:20px;
	}
	
}

@media all and (max-width: 400px){
	#informacoes{
		width: 300px;
	}

	#formulario{
		width: 300px;
	}

}