body{
	font-family: "Open Sans", "arial", sans-serif;
}

#itens{
	display:inline-flex;
}

/* Criação de Sites */

.produto-cs{
	/*border:2px #000 solid;*/
	width:220px;
	padding-left:auto;
	text-align:center;
	margin-top: 15px;
	margin-right:130px;

}

/* Manutenção de Sites */

.produto-ms{
	width:220px;
	padding-left:auto;
	margin-top: 15px;
	margin-right:50px;
}

#descricao-ms{
	width: 85%;
	margin-left: -50px;
	margin-top: 40px;
}

ul#ul-ms{
	list-style: none;
	text-align: justify;
	margin-left: -100px;
	margin-top: 30px;
	width: 60%;
	margin-bottom: 60px;
}

a#contato-ms{
	height: 30px;
	width: 150px;
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	margin-top: 60px;
	background-color: #B0E67A;
	border: 3px solid #5C9B1D;
	border-radius: 5px;
}

/* Criação de Sites */

ul#ul-cr{
	list-style: none;
	text-align: justify;
	margin-top: 50px;
	margin-left: -50px;
	padding-right: 50px;
	width: 300px;
}

a#contato-cr{
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 20px;
	background-color: #B0E67A;
	border: 3px solid #5C9B1D;
	border-radius: 5px;
}

/* Alimentação de Perfis */

ul#ul-al{
	list-style: none;
	text-align: justify;
	margin-left: -100px;
	margin-top: 65px;
	width: 280px;
	padding-right: 100px;
}

a#contato-al{
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	margin-top: 60px;
	background-color: #B0E67A;
	border: 3px solid #5C9B1D;
	border-radius: 5px;
}

/* Tamanho padrão das imagens */

.img-produtos{
	width:220px;
}

.produtos{
	display:inline-flex;
	flex-wrap:wrap;
	justify-content:center;
}

.produtos a{
	text-decoration:none;
	color:#000;
}

/* Página dos produtos */

#descricao {
	max-width: 565px;
	margin-left: 280px;
	margin-top: 50px;
}

#descricao img{
	width:100px;
	margin-top:20px;
}

#voltar{
	width:60px;
	margin-top:15px;
	background-color: #B0E67A;
	border: 3px solid #5C9B1D;
	text-align:center;
	border-radius:5px;
	padding:5px;
	color: #000;
	text-decoration:none;
	margin-left: 500px;
}

/*Produtos individuais*/

#produtos_ind{
	display:inline-flex;
	flex-wrap:wrap;
	justify-content:center;
}

#produto_ind{
	width:200px;
	padding-left:auto;
	text-align:center;
	margin-top: 15px;
	margin-left:50px;
}

#produto_ind img{
	width:220px;
}

/*galeria*/

.modal{
	display:none;
}
.modal:target{ /*galeria geral   - qndo clicar irá abrir*/
	display:block;
	position: fixed;
	background:rgba(0,0,0,0.8);
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin:auto;
}
.modal h3{ /*Título galeria*/
	color:#fff;
	text-align:center;
}
.imagem{/*div imagem*/
	width:100%;
	height:50%;
	
	display:flex;
	justify-content:center;
	align-items:center;
	flex-shrink:2;
}
.imagem a{ /*inciones, botões galeria maior e menor*/
	text-decoration:none;
	color:#fff;
	font-size:40px;
	margin:0px 15px;
}
.imagem a:nth-child(2){ /*Só para imagem*/
	margin:0;
	height:100%;
}
.imagem img{/*tag imagem*/
	width:500px;
	height:100%;
	max-width:100%;
	border:7px solid #fff;
	box-sizing:border-box;
}

.encerrar{
	display:block;
	background:#fff;
	color:#000;
	width:25px;
	height:25px;
	margin: 15px auto;
	text-align:center;
	text-decoration:none;
	font-size:15px;
	padding:5px;
	border-radius:50%;
	line-height:25px;
}
@media(max-width:800px){
	
	#produto{
		margin-left:15px;;
	}
	#voltar{
		margin: auto;
	}
	#itens{
		display:inline-flex;
		flex-wrap:wrap;
		justify-content:center;
	}
}
@media(max-width:578px){
	#banner_pagseguro{
		display:none;
		margin-left:5px;
	}
	#produto img{
		width:202px;
		height:142px;
	}
	#produto_ind img{
		width:202px;
		height:142px;
	}
	#produto_ind{
		margin: auto;
	}
	
}