.corpo{
	background-color:#fff;
	padding-top:43px;
	min-height:840px;
	text-align:center;
	font-family: "Open Sans","arial",sans-serif;
}

.conteudo{
	width:100%;
	margin: 0px auto;
	text-align:center;
}
.rodape{
	min-height:60px;
	padding-top:18px;
	background:#778899;
}



@media(max-width:750px){
	.corpo{
		min-height:500px;
	}
	.rodape{
		min-height:60px;
	}
	.conteudo{
		width:100%;
	}

}
@media(max-width:500px){
	.corpo{
		min-height:400px;
	}

	
}

