/* -- Geral -- */

body{
    margin:0;
    background-color:#BEBEBE;
    font-family: "Open Sans","arial",sans-serif;
    overflow-x: hidden;
}

.corpo{
	background-color:#fff;
	padding-top:96px;
	min-height:840px;
	text-align:center;
    width:100%;
    margin: 0 auto;
}

footer{
	min-height:60px;
	padding-top:18px;
	background:#778899;
}

@media(max-width:750px){
	.corpo{
		min-height:500px;
	}
	footer{
		min-height:60px;
	}
	.conteudo{
		width:100%;
	}

}
@media(max-width:500px){
	.corpo{
		min-height:400px;
	}
}

/* -- Menu -- */

#logo{
    height:70px;
    justify-content:center;
    margin-left: 43%;
}

label img{
    width:28px;
    height:28px;
    border-right:1px solid #fff;
    padding:10px;
}
header{
    width:100%;
    background-color:#778899;
    opacity: 1;
    margin-top:0;
    position:fixed;
    z-index: 99999;
}

#btn-menu{
    display:none;
}

header label{
    display:none;
}

header label:hover{
    cursor:pointer;
    background-color:#778899;
    opacity:0.5;
}

.menu{
    justify-content:center;
    flex-wrap:wrap;
}

.menu ul{
    margin:0;
    list-style:none;
    padding:0;
    display:flex;
    justify-content:center;
}

.menu li a{
    display:block;
    padding:12px 20px;
    text-decoration:none;
    color:#fff;
    border-top: 1px solid #fff;
}

.menu li a:hover{
    background-color: rgba(0,0,0,0.3);
    transition: all 0.7s;

}
.menu li ul{
    display:none;
    position:absolute;
    background-color:#778899;
}

.menu li:hover > ul{
    display:block;
}
@media(max-width:700px){

    .menu li a{
        padding:10px 15px;
    }
}

@media (max-width:500px){
    label img{
        width:20px;
        height:20px;
    }
    header label{
        display:block;
    }
    .menu{
        position: absolute;
        background:#778899;
        width:60%;
        margin-left:-70%;
        transition: all 0.5s;

    }
    .menu ul{
        flex-direction:	column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu{
        margin:0;
    }
}

/* -- Início -- */

#inicio{
	background-color:#9AC0CD;
	font-family: "Open Sans","arial",sans-serif;
}
.resumo{
	width:75%;/*65%*/
	padding:40px;
	margin: auto;
	/*font-size: 17px; 18px*/
	text-align: justify;
}
.slider{
	width:100%;
	height: auto;
	overflow:hidden;
    margin-top: 20px;
}

.slider img{
	width:100%;

}
.slider ul {
	margin: 0;
	padding:0px;
	display:flex;
	width:400%;
	animation:cambio 20s infinite;
}
.slider li{
	list-style:none;
	width:100%;
}
@keyframes cambio{
	0%{margin-left:0;}
	20%{margin-left:0;} /*1ª imagem*/
	
	25%{margin-left:-100%;}
	45%{margin-left:-100%;}/*2ªimagem*/
	
	50%{margin-left:-200%;}
	70%{margin-left:-200%;}/*3ªimagem*/
	
	75%{margin-left:-300%;}
	100%{margin-left:-300%;}/*4ªimagem*/
}

@media(max-width:750px){
	.resumo{
		font-size:16px;
	}

}
@media(max-width:500px){
	.slider{
		width:100%;
	}
	.resumo{
		font-size:14px;
	}
	.logo img{
		width:180px;
		height:45px;
	}
}