#inicio{
	background-color:#9AC0CD;
	font-family: "Open Sans","arial",sans-serif;
}
.resumo{
	width:75%;/*65%*/
	padding:40px;
	margin: auto;
	/*font-size: 17px; 18px*/
	text-align: justify;
}
/*
.logo{
	background-color:#CCCCCC;
	padding-bottom:10px;
	padding-top:10px;
}*/

.slider{
	width:100%;
	height: auto;
	overflow:hidden;
}

.slider img{
	width:100%;

}
.slider ul {
	margin: 0;
	padding:0px;
	display:flex;
	width:400%;
	animation:cambio 20s infinite;
}
.slider li{
	list-style:none;
	width:100%;
}
@keyframes cambio{
	0%{margin-left:0;}
	20%{margin-left:0;} /*1ª imagem*/
	
	25%{margin-left:-100%;}
	45%{margin-left:-100%;}/*2ªimagem*/
	
	50%{margin-left:-200%;}
	70%{margin-left:-200%;}/*3ªimagem*/
	
	75%{margin-left:-300%;}
	100%{margin-left:-300%;}/*4ªimagem*/
}

@media(max-width:750px){
	.resumo{
		font-size:16px;
	}

}
@media(max-width:500px){
	.slider{
		width:100%;
	}
	.resumo{
		font-size:14px;
	}
	.logo img{
		width:180px;
		height:45px;
	}
}