@charset "utf-8";

#quem_somos{
	background-color:#9AC0CD;
	font-family: "Open Sans","arial",sans-serif;
}

#imgs_quemsomos{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content:center;
	margin-top:40px;
}
#imgs_quemsomos img{
	width:372px;
	height:272px;
}
img{
	border-radius: 2px;
}

.legenda-imagem{
	width: 374px;
	padding: 20px;
	height: 430px;
}

.legenda-imagem figcaption{
	width: 329px;
	height: 28px;
	opacity: 0;
	color: black;
	background-color: #DCDCDC;
	position: absolute;
	text-align: center;
	margin-top: -70px;
	padding: 22px;
	transition: opacity 1s;
	z-index: 0;
}

.legenda-imagem figcaption h4{
	margin-top: 8px;
}

/* quando mouse passar por cima */
.legenda-imagem:hover figcaption{
	opacity: 1;
}

.legenda-imagem:hover figcaption h4{
	margin-top: 8px;
}

p{
	text-align: justify;
}

#resumo_quem_somos{
	width:70%;
	justify-content:center;
	flex-wrap: wrap;
	display: inline-flex;
	
	margin-bottom:50px;
}
@media(max-width:750px){
	#imgs_quemsomos img{
		width:332px;
		height:232px;
	}
	
	.legenda-imagem{
		width: 332px;
		padding: 20px;
		height: 530px;
	}

	.legenda-imagem figcaption{
		width: 289px;
		height: 28px;
		margin-top: -70px;
		padding: 22px;
	}
	#imgs_quemsomos p{
		font-size:16px;
	}
}

@media(max-width:400px){
	#imgs_quemsomos img{
		width:202px;
		height:142px;
	}
	.legenda-imagem{
		width: 202px;
		padding: 20px;
		height: 530px;
		
	}

	.legenda-imagem figcaption{
		width: 158px;
		height: 0px;
		margin-top: -43px;
		padding: 22px;
	
	}
	.legenda-imagem figcaption h4{
		margin-top: -8px;
	}
	.legenda-imagem:hover figcaption h4{
		margin-top: -8px;
	}
	#imgs_quemsomos p{
		font-size:14px;
	}
}