#servicos{
	background-color:#BEBEBE;
	font-family: "Open Sans","arial",sans-serif;
}

#texts{
	margin-left: 35px;
	width: 90%;
}

#imgs_servicos{
	margin-top: 50px;
}

.img-s{
	padding: 5px;
}

@media all and (max-width: 450px){
	#texts{
		width: 80%;
	}
}