#servicos{
	background-color:#BEBEBE;
}
#texts{
	margin-top: 60px;
	margin-left: 40px;
	width: 90%;
}
#imgs_servicos{
	margin-top: 50px;
	margin-left: 20px;
	display: inline-flex;
	
	flex-wrap:wrap;
	justify-content:center;
}
#carousel{
	margin-bottom:20px;
}

.img-s{
	padding: 5px;
}

#criacao{
	display:none;
}
#manutencao{
	display:none;
}
#alimentacao{
	display:none;
}
#criacao_perfil{
	display:none;
}

@media all and (max-width: 450px){
	#texts{
		width: 80%;
	}
	#imgs_servicos{
		width: 80%;
	}

	#imgs_servicos img{
		width:202px;
		height:142px;
		margin:auto;
		justify-content:center;
	}
	#texts p{
		font-size:14px;
	}
	
}